{% extends 'layouts/layout.html.twig' %}

{% block content %}
    <article class="pt-5 blog-post">
        <h1 class="blog-post-title mb-1">{{ pimcore_input('title', {'placeholder':'Titel'}) }}</h1>
        <p>{{ pimcore_input('subtitle', {'placeholder':'Untertitel'}) }}</p>
        <div class="row">
            <div class="col-12">
                <p>
                    {{ pimcore_areablock('content', {
                        'allowed': ['wysiwyg','standard-teaser']
                    }) }}
                </p>
            </div>
        </div>
    </article>
{% endblock %}