{% extends 'layouts/layout.html.twig' %}

{% block content %}


<article class="pt-5 blog-post">
    <h2 class="blog-post-title mb-1">{{ blog.title }}</h2>

    <p class="pt-4">{{blog.teaser}}</p>

    <div class="row">
        <div class="col-12">
            {{ blog.image.thumbnail('blogDetail').getHTML({imgAttributes: {class: 'img-thumbnail img-fluid w-100'}})|raw }}

        </div>

        <div class="col-12">
            <p>{{ blog.content|raw }}</p>
        </div>
    </div>

</article>

{% endblock %}