<section>
    {{
    pimcore_renderlet('blogrenderlet', {
        "controller" : "App\\Controller\\BlogController::blogTeaserAction",
        "title" : "Drag a blog Object here",
        "height" : 400
    })
    }}
</section>
